{%extends 'layout.template.html' %}

{%block title%}Money Management{%endblock%}

{%block content%}
<h2>Personal Financing</h2>

<a href="{{url_for('create_expense')}}" class="btn btn-primary">New transaction</a>

<form class="form-inline mt-3" method="GET">
    <input type="text" class="form-control" placeholder="Enter search terms" name="search-terms"/>
    <input type="checkbox" name="is_done" class="form-check-input ml-3"/>Reconciled
    <input type="submit" value="Search" class="form-control ml-3"/>
</form>

<table class="table mt-3">
    <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Type</th>
            <th>Date</th>
            <th>Memo</th>
        </tr>
        {%for e in expenses %}
            <tr>
                <td>
                {%if e.reconciled%}
                <input type="checkbox" class="expense-checkbox" data-expense-id="{{e._id}}" checked/>
                {%else%}
                <input type="checkbox" class="expense-checkbox" data-expense-id="{{e._id}}"/>
                {%endif%}
                </td>
                <td>{{e.expense_name}}</td>
                <td>{{e.expense_type}}</td>
                <td>{{e.expense_date}}</td>
                <td>{{e.expense_memo}}</td>
            </tr>
        {%endfor%}
    </thead>
</table>
{%endblock%}

{%block js%}
<script>
$(function(){
    $(".expense-checkbox").change(function(){
        let expense_id = $(this).data('expense-id');
        let url ="{{url_for('check_expense')}}";
        let self = this;
        axios.patch(url, {
            'expense_id':expense_id
        }).then(function(){
            if (self.checked) {
                toastr.success("Item has been reconciled!");
            } else {
                toastr.error("Item has not been reconciled!");
            }
            
        })
    })
})
// $(function(){
//     $(".expense-checkbox").change(function(){
//         let expense_id = $(this).data('expense-id');
//     })
// })
</script>
{%endblock%}